/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'aktiv-grotesk-extended', 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.partners-section {
    text-align: center;
    padding: 40px 20px;
}

.partners-section h2 {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 600;
    /* Bold for Montserrat */
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.logos img {
    max-height: 30px;
    width: auto;
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .logos img {
        max-width: 80px;
    }
}

@media (max-width: 480px) {
    .logos img {
        max-width: 90px;
    }
} */